!!!
%html
  %head
    %title Makin'Twitter
    %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/ico"}
    %link{:href => "css/reset.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/feed.css", :rel => "stylesheet"}
  %body
    %nav
      %ul
        %li Nav bar
        %li Tweet
        %li Home
    %main
      %aside
        %section.profile
          %header
            %h1 Chloe Donegan
            %h2 @ThisIsCsharpD
          %section
            %h1 TWEETS
            %p 115
          %section
            %h1 FOLLOWING
            %p 224
          %section
            %h1 FOLLOWERS
            %p 138
          %footer
            %input{:placeholder => "Compose a new Tweet...", :type => "text"}

      %section
        %article
          %p tweeep