<!DOCTYPE hmtl>
<html>
  <head>
    <title>Makin'Twitter</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/app.css.scss">
  </head>
  <body>
	<header>
		  <section class="wrap">
	   <nav id="left-nav">
	        <a href="/"><img src="/images/home.png" alt="">Home</a>
	        <a href="/"><img src="/images/notifications.png" alt=""> Notifications </a>
	        <a href="/"><img src="/images/discover.png" alt="">Discover </a>
	        <a href="/"><img src="/images/me.png" alt=""> Me</a>
	        <img src="/images/logo.png" id="logo" alt="">
	      </nav>
	      <nav id="center-nav">
	        <input class="search" type="text" placeholder="Search Twitter">
	      </nav>
	      <nav id="right-nav">
	        <a href="/"><img src="/images/settings.png" alt=""></a>
	        <a href="/"><img src="/images/settings.png" alt=""></a>
	        <a href="/"><img id="new-tweet" src="/images/new_tweet.png" alt=""></a>
	      </nav>
	    </section>
	    </header>
  <section class="wrap">
	      <aside id="sidebar">
	        <section class="profile">
	          <section class="profile top"></section>
	          <section class="profile picture"></section>
	          <h3 class="profile name"> Chloe Donegan</h3>
	          <p class="profile handle">@ThisIsCsharpd</p>
	          <ul class="profile stats">
	            <li>
	              <section class="profile stats heading">TWEETS</section>
	              <section class="profile stats value">115</section>
	            </li>
	              <li>
	              <section class="profile stats heading">FOLLOWING</section>
	              <section class="profile stats value">224</section>
	            </li>
	              <li>
	              <section class="profile stats heading">FOLLOWERS</section>
	              <section class="profile stats value">138</section>
	            </li>
	          </ul>
	          <section class="profile tweet">
	            <input type="text" placeholder="Compose a new Tweet...">
	          </section>
	        </section>

	        <section class="suggestions">
	          <h3 class="suggestion title">Who to follow</h3>
	          <section class="links"><a href="#">Refresh</a><a href="#">View All</a></section>
	          <article class="user">
	            <img src="/images/zen.png" alt=""">
	            <h2 class="user title">daily zen <p class="handle">@dailyzen</p></h2>
	            <button class="follow-button"></button>
	          </article>
	           <article class="user">
	            <img src="/images/buddism.png" alt=""">
	            <h2 class="user title">Buddhist Geeks <p class="handle">@BuddhistGeeks</p></h2>
	            <button class="follow-button"></button>
	          </article>
	        </section>

	        <section class="suggestions trending">
	          <h3 class="suggestions title">Trends<a href="#">Change</a></h3>
	          <a class="hashtags" href="#">#Bikram</a>
	          <a class="hashtags" href="#">#Yoga</a>
	          <a class="hashtags" href="#">#Adventure</a>
	          <a class="hashtags" href="#">#GreatOutdoors</a>
	          <a class="hashtags" href="#">#Design</a>
	        </section>
	      </aside>

		    <section class="feed">
		      <section class="feed title">
		        <h3>Tweets</h3>
		      </section>
		      <section class="feed container">
			      <article class="feed tweet">
	    				<img src="/images/matt.jpeg" alt="">
	    				<h3>Matt Clifford</h3><p class="feed handle">  ‏@matthewclifford  3 hrs</p>
	    				<p class="feed content"> Interesting that the ability to source rare (and not that rare) films to rent is worse than it was a few years ago </p>
	 				  </article>
	 				  <article class="feed tweet">
	    				<img src="/images/matt.jpeg" alt="">
	    				<h3>Matt Clifford</h3><p class="feed handle">  ‏@matthewclifford  3 hrs</p>
	    				<p class="feed content"> Interesting that the ability to source rare (and not that rare) films to rent is worse than it was a few years ago </p>
	 				  </article>
	 				  <article class="feed tweet">
	    				<img src="/images/matt.jpeg" alt="">
	    				<h3>Matt Clifford</h3><p class="feed handle">  ‏@matthewclifford  3 hrs</p>
	    				<p class="feed content"> Interesting that the ability to source rare (and not that rare) films to rent is worse than it was a few years ago </p>
	 				  </article>
	 				  <article class="feed tweet">
	    				<img src="/images/matt.jpeg" alt="">
	    				<h3>Matt Clifford</h3><p class="feed handle">  ‏@matthewclifford  3 hrs</p>
	    				<p class="feed content"> Interesting that the ability to source rare (and not that rare) films to rent is worse than it was a few years ago </p>
	 				  </article>
			      <section class="feed tweet end"></section>
			      </section>
		    	</section>
				</section>
  </body>
</html>